<!DOCTYPE html>
<html lang="ca">

<head>
    {{ partial "head.html" . }}
</head>

<body class="global single">
  <header>
    {{ partial "header_uoc.html" . }}
  </header>

  <div id="content">
  <!--MODAL 2-->
    <div class="info-link" data-modal="modal2">
      <div class="container">
        <div class="inside-container">

          <!--ROW-->
          <div class="row">
            <div class="col-sm-12">
              <div class="breadcrumbs">
                {{ partial "breadcrumbs" . }}
              </div>
            </div>
          </div>
          <!--./ROW-->

          {{ if isset .Params "blocs" }} 
            {{range $bloc := .Params.blocs}}
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div class="ext-link">
                    <hr class="hr-uoc">
                        <div class="inside-padd">
                            <h2><p>{{$bloc.titol}}</p></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        <div class="col-sm-12">
                            <hr class="hr-uoc">
                            <div class="orientation paddingR">                
                              {{ safeHTML (markdownify $bloc.contingut) }}
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            {{end}}
          {{end}}

          <!--ROW-->
          <div class="row contingut">
            {{ .Content }}
          </div> 
          <!--./ROW-->

          </div>
        </div>
      </div>
      <!--/MODAL 2-->
    </div>

    <footer role="contentinfo" class="hidden-xs">
        {{ partial "footer.html" . }}            
    </footer>

</body>

</html>