    <div class="row" style="display:none; margin-top:.5em; padding:.5em; padding-left: 1em; border:1px solid #ccc!important; background-color: #000; color: #fff" id="cms-editor">

      {{ $filename := (replace .File "." "-") }}
      {{ $filenameNoLang := (replace $filename (print "-" .Lang) "") }}

      {{ $collection := (replace (replace .URL (print $filenameNoLang "/")  "") (print "/" .Lang "/") "") }}

      {{ $.Scratch.Add "addPageText" "Add page" }}
      {{ $.Scratch.Add "editPageText" "Edit page"}}
      {{ $.Scratch.Add "editSectionText" "Edit section"}}
      {{ $.Scratch.Add "addSubSectionText" "Add subsection"}}

      {{ if eq .Lang "ca" }}
        {{ $.Scratch.Set "addPageText" "Afegeix una pàgina" }}
        {{ $.Scratch.Set "editPageText" "Edita aquesta pàgina"}}
        {{ $.Scratch.Set "editSectionText" "Edita aquesta secció"}}
        {{ $.Scratch.Set "addSubSectionText" "Afegeix una subsecció"}}
      {{ end }}

      <div class="pull-left editpage">
        {{ if .IsPage }}
          <a href="/admin/{{ $collection }}cms/#/collections/content/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editPageText" }}
          </a>
        {{ end }}

        {{ if .IsSection }}
          <a href="/admin/{{ $collection }}cms/#/collections/content/new" id="cms-editor-link-add" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addPageText" }}
          </a>
          <a href="/admin/{{ $collection }}cms/#/collections/section/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editSectionText" }}
          </a>
          <a href="/admin/{{ $collection }}cms/#/collections/config/entries/create" id="cms-editor-link-add" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addSubSectionText" }}
          </a>
        {{ end }}

        {{ if .IsHome }}
          <a href="/admin/cms/#/collections/config/entries/create" id="cms-editor-link-add" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addSubSectionText" }}
          </a>
        {{ end }}

        <a href="#" onclick="test()">TEST</a>
      </div>
    </div>


    <script src="/js/cms.js"></script>
