    <style>
      @media (max-width:768px){
        .cmsAction{display: block;}
      }

    </style>
    <div class="row" style="display:none; margin-top:.5em; padding:.5em; padding-left: 1em; border:1px solid #ccc!important; background-color: #000; color: #fff" id="cms-editor">

      {{ $filename := (replace .File "." "-") }}
      {{ $filenameNoLang := (replace $filename (print "-" .Lang) "") }}

      {{ $collection := (replace (replace .URL (print ($filenameNoLang | urlize)  "/")  "") (print "/" .Lang "/") "") }}
      
      {{ $.Scratch.Set "addPageText" "Add page" }}
      {{ $.Scratch.Set "editPageText" "Edit page"}}
      {{ $.Scratch.Set "editSectionText" "Edit section"}}
      {{ $.Scratch.Set "addSubSectionText" "Add subsection"}}

      {{ if eq .Lang "ca" }}
        {{ $.Scratch.Set "addPageText" "Afegeix una pàgina" }}
        {{ $.Scratch.Set "editPageText" "Edita aquesta pàgina"}}
        {{ $.Scratch.Set "editSectionText" "Edita aquesta secció"}}
        {{ $.Scratch.Set "addSubSectionText" "Afegeix una subsecció"}}
      {{ end }}

      {{ if eq .Lang "es" }}
        {{ $.Scratch.Set "addPageText" "Añade una página" }}
        {{ $.Scratch.Set "editPageText" "Edita esta página"}}
        {{ $.Scratch.Set "editSectionText" "Edita esta sección"}}
        {{ $.Scratch.Set "addSubSectionText" "Añade una subsección"}}
      {{ end }}

      <div class="pull-left editpage">

        <span data-netlify-identity-button style="margin-right: .5em;"> </span>

        {{ if .IsPage }}
          <a href="/admin/{{ $collection }}#/collections/content/entries/{{ $filename }}" class="cmsAction" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editPageText" }}
          </a>
        {{ end }}

        {{ if .IsSection }}
          <a href="/admin/{{ $collection }}#/collections/content/new" id="cms-editor-link-add" class="cmsAction" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addPageText" }}
          </a>
          <a href="/admin/{{ $collection }}#/collections/section/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>{{ $.Scratch.Get "editSectionText" }}
          </a>
        {{ end }}

        {{ if or .IsHome .IsSection}}
          <a href="#" id="cms-editor-link-add" class="cmsAction" style="color: #fff; margin-right: .5em;" onclick="$('#addSectionBlock').css('display','inline'); return false;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span>{{ $.Scratch.Get "addSubSectionText" }}
          </a>
          <span style="display:none" id="addSectionBlock" class="cmsAction">
            <input type="text" id="sectionName" style="color: #000;" />
            <button type="button" class="btn btn-info" onclick="createSection('{{.Lang}}'); return false;">
              <span class="glyphicon glyphicon-ok"></span> OK
            </button>
          </span>
        {{ end }}
    </div>

    <script src="/js/cms.js"></script>