    <div class="row" style="display:none; margin-top:.5em; padding:.5em; padding-left: 1em; border:1px solid #ccc!important; background-color: #000; color: #fff" id="cms-editor">

      {{ $filename := (replace .File "." "-") }}
      {{ $filenameNoLang := (replace $filename (print "-" .Lang) "") }}

      {{ $collection := (replace (replace .URL (print $filenameNoLang "/")  "") (print "/" .Lang "/") "") }}

      <div class="pull-left editpage">
        {{ if .IsPage }}
          <a href="/admin/{{ $collection }}cms/#/collections/content/new" id="cms-editor-link-add" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-plus text-small" aria-hidden="true"></span> Afegeix una entrada
          </a>
          <a href="/admin/{{ $collection }}cms/#/collections/content/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>Edita aquesta entrada</span>
          </a>
        {{ end }}

        {{ if .IsSection }}
          <a href="/admin/{{ $collection }}cms/#/collections/section/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>Edita aquesta secció</span>
          </a>
        {{ end }}

        {{ if .IsHome }}
          <!--a href="/admin/cms/#/collections/section/entries/{{ $filename }}" id="cms-editor-link-edit" style="color: #fff; margin-right: .5em;">
            <span class="glyphicon glyphicon-edit text-small" aria-hidden="true"></span>Edita aquesta secció</span>
          </a-->
        {{ end }}
      </div>
    </div>


    <script src="/js/cms.js"></script>
