            <div class="header-uoc">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="logo">
                                <div class="name">
                                    <p>Universitat Oberta <br />de Catalunya</p>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden-xs col-sm-8 col-md-6">
                                <div class="block-header"> </div>
                            </div>
                            <div class="hidden-xs hidden-sm col-md-3">
                                <div class="block-header"> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-top">
                    <div class="container">
                        <div class="row row-table">
                            <div class="col-md-9">
                                <h1>{{ .Title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="time">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>